<div class="compos">
    <h1 class="htop">Customer Detail</h1>
    <div class="scard3">
    <div class="row" >
        <h2 class="dtlh2">BIOGRAPHY</h2>
        <div class="row" style="margin-left:2% ">
            <customer_detail_bio></customer_detail_bio>
        </div>
    </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <h2 class="dtlh2">STATISTICS</h2>
        <customer_detail_stat></customer_detail_stat>
    </div>
    <div class="row" style="margin-top: 5%;">
        <h2 class="dtlh2">TRANSACTION HISTORY</h2>
        <customer_detail_transaction></customer_detail_transaction>
    </div>
</div>
