
<div class="col-sm-6 hbody">
    <h4>
        <span>ID : </span><span>{{vm.cus_id}}</span><br><br>
        <span>Type : </span><span>FACEBOOK</span><br><br>
        <span>First Name : </span><span>Rubporn</span><br><br>
        <span>Gender : </span><span>Female</span><br><br>
        <span>Registered Date : </span><span>14-06-2016 19:12:42</span><br><br>
    </h4>
</div>
<div class="col-sm-6 hbody" >
    <h4>
        <span>Username : </span><span>{{vm.dataSet.cus_username}}</span><br><br>
        <span>Telephone No. : </span><span>0819125130</span><br><br>
        <span>Last Name : </span><span>Trakantalerngsak</span><br><br>
        <span>Birth Day : </span><span>26-07-1986</span><br><br>
        <span>Age : </span><span>29</span><br><br>

    </h4>
</div>

