<div class="card" style="height:368px;font-family: 'Roboto', sans-serif;">
    <div class="card-header">
        <h2> AVERAGE </h2>
    </div>
    <div class="card-block">
        <div class="card-description">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left">Avg. Points/Visit</h4>
                    <h4 class="pull-right">2.09 Points
                        <span class="glyphicon glyphicon-chevron-up" style="color:gold" aria-hidden="true"></span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left">Avg. Sales/Visit</h4>
                    <h4 class="pull-right">224.43 Baht
                        <span class="glyphicon glyphicon-chevron-up " style="color:gold" aria-hidden="true"></span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left">Avg. Visits/Customer</h4>
                    <h4 class="pull-right">1.47 Visits
                        <span class="glyphicon glyphicon-chevron-up " style="color:gold" aria-hidden="true"></span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left">Return Ratio</h4>
                    <h4 class="pull-right">90.00%
                        <span class="glyphicon glyphicon-chevron-up " style="color:gold" aria-hidden="true"></span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left"></h4>
                    <h4 class="pull-right">

                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
