<h3 align="center">
    CUSTOMERS
</h3>
<div class="chart-responsive" style="margin:3%;margin-top:20%">
    <canvas id="pie" height="200" class="chart chart-pie" chart-data="vm.pieData"
            chart-labels="vm.pieLabels" chart-options="vm.pieOptions">
    </canvas>
    <ul class="chart-legend clearfix">
        <li><span class="glyphicon glyphicon-unchecked " style="color:#f7464a"></span> INACTIVE</li>
        <li><span class="glyphicon glyphicon-unchecked " style="color:#dcdcdc"></span> 1 MONTHS</li>
        <li><span class="glyphicon glyphicon-unchecked " style="color:#97bbcd"></span> 2 MONTHS</li>
        <li><span class="glyphicon glyphicon-unchecked " style="color:#46bfbd"></span> 3 MONTHS</li>
    </ul>
</div>
