<div class="compos">
    <h2 class="htop">Report Issue</h2>
    <div style="margin-top: 5%">
        <form name="outerForm" class="tab-form-demo">
            <uib-tabset active="activeForm">
                <uib-tab index="0" heading="ISSUE FORM" style="margin-left: 5%">
                    <issues_form></issues_form>
                </uib-tab>
                <uib-tab index="1" heading="ISSUE HISTORY">
                    <issues_history></issues_history>
                </uib-tab>
            </uib-tabset>
        </form>
    </div>
</div>
