<div class="compos">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align:center;margin-top:5%;">
            <div class="pro-thumb">
                <img
                    src="https://s3-ap-southeast-1.amazonaws.com/pro-app-image/business/bus_image_logo_1366622250.jpg"/>
            </div>
            <h2>Doze Cafe.</h2>
            <p>From 22-04-2013 to 13-07-2016</p>
            <h2 style="color:red">[INACTIVE]</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top:7%">
        <div class="col-sm-6">
            <dashboard-total></dashboard-total>
        </div>
        <div class="col-sm-6">
            <dashboard-avg></dashboard-avg>
        </div>
    </div>
    <div class="row" style="margin-top:18px">
        <div class="col-md-4" style="height:402px">
            <div class="card" style="height:400px;font-family: 'Roboto', sans-serif;">
                <chart-loyalty></chart-loyalty>
            </div>
        </div>

        <div class="col-md-4" style="height:402px">
            <div class="card" style="height:400px;font-family: 'Roboto', sans-serif;">
                <chart-cusgender></chart-cusgender>
            </div>
        </div>
        <div class="col-md-4" style="height:402px">
            <div class="card" style="height:400px;font-family: 'Roboto', sans-serif;">

                <chart-cus></chart-cus>
            </div>
        </div>
    </div>
</div>
