<div class="card-box">
    <div class="rad-info-box ">
        <span class="heading">TOTAL UNIQUE CUSTOMERS</span>
        <span class="value"><span>{{vm.uniquecus}}</span></span>
    </div>
</div>
<div class="card-box">
    <div class="rad-info-box ">
        <span class="heading">2 MONTHS</span>
        <span class="value"><span>{{vm.ndmonth}}</span></span>
    </div>
</div>
<div class="card-box">
    <div class="rad-info-box ">
        <span class="heading">3 MONTHS</span>
        <span class="value"><span>{{vm.rdmonth}}</span></span>
    </div>
</div>
<div class="card-box">
    <div class="rad-info-box ">
        <span class="heading">4 MONTHS</span>
        <span class="value"><span>{{vm.thmonth}}</span></span>
    </div>
</div>
<div class="card-box">
    <div class="rad-info-box ">
        <span class="heading">INACTIVE</span>
        <span class="value"><span>{{vm.inact}}</span></span>
    </div>
</div>
